{% extends "./public_base.html" %}
{% load i18n %}
{% load static from staticfiles %}
{% load crispy_forms_tags %}
{% block head_title %}
{% trans "About Us" %}
{% endblock %}
{% block content %}
<div class="container-fluid subpage">
    <div class="container">
        <div class="row">
            <h1>About Us</h1>
        </div>
        <div class="row">
            <p>
                <a href="https://www.datinglatinos.com/">DatingLatinos.com</a>
                is an elite online dating site with a beautiful latino
                community, we are dedicated and obsessed to ensuring to all our
                members their perfect match. Many of our members have amazing
                stories and moments to share with you and many others have
                found lasting love trough
            </p>
            <p>
                We have learnt a lot about the demands of people – what they
                want and what they don’t. So, with more ideas than any other
                time to bring the singles together in a common platform of
                relationship, we have come surprisingly a long path.
            </p>
            <p>
                People find love difficult when it is universal. This is the
                reason we offer a number of approaches as well as features to
                unite the different cultures by providing you with the best
                support to find your match
            </p>
            <p>
                The cultural exchange will give you amazing opportunities like.
            </p>
            <ul>
                <li>Know and date new and amazing people.</li>
                <li>Share your incredible stories.</li>
                <li>Know more about other cultures.</li>
                <li>Live new life experiencies. </li>
                <li>Open your eyes and hearth to new cultural exchange.</li>
                <li>Make new links to travel all around the world.</li>                
            </ul>
            <p>
                What are you waiting for? the next great date is just one click
                away.
            </p>
        </div>
    </div>
</div>
</section>
{% endblock %}
