{% load static from staticfiles %}
{% load sass_tags %}
{% load i18n %}
{% load crispy_forms_tags %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="description" content="">
        <meta name="keywords" content="Dating site, online dating, free dating sites, online dating sites">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>DatingLatinos.com</title>
        <link rel="shortcut icon" type="image/png" href="{% static 'dateSite/img/favicon.ico' %}"/>
        <link rel="stylesheet" type="text/css" href="{% sass_src 'dateSite/css/home.scss' %}">
        <link rel="stylesheet" type="text/css" href="{% sass_src 'dateSite/css/chat.scss' %}">
        {% block linkcss %}
        {% endblock %}
        <script type="text/javascript" src="{% static 'dateSite/js/jquery.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'dateSite/js/tether.js' %}"></script>
        <script type="text/javascript" src="{% static 'dateSite/js/bootstrap.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'dateSite/js/jquery.form.js' %}"></script>
        <script type="text/javascript" src="{% static 'dateSite/js/DjangoAjax.js' %}"></script>
        <script type="text/javascript" src="{% static 'dateSite/js/reconnecting-websocket.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'dateSite/js/chat.js' %}"></script>
    </head>
    <body>
        <nav class="navbar">
            <div class="navbar-back">
                <div class="navbar-header logo-img">
                    <a href="{% url 'dateSite:main' %}">
                        <div class="navbar-brand">
                        </div>
                    </a>
                </div>
                <div class="button-menu">
                    <button class="navbar-toggler hidden-md-up pull-xs-right btn-menu" data-toggle="collapse" data-target="#menu-items">
                        <img src="{% static 'dateSite/img/search-arrow-down.png' %}" alt="Menu">
                    </button>
                </div>
                <div id="menu-items" class="collapse navbar-toggleable-sm">
                    {% include "./navbar/menu.html" %}
                </div>
            </div>
        </nav>
        {% if buyplans %}
        <div class="modal buyCredits" id="upgradePremiumModal" tabindex="-1">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Buy credits</h5>
                    <button type="button" class="close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    {% if plan == "9.99USD" %}
                    <div class="first-plan">
                        <a href="https://api.ccbill.com/wap-frontflex/flexforms/dab4a383-d809-4978-b7b5-fa3db8efdee7?clientSubacc=0000&currencyCode=840&language=English&id={{id}}&pp=7" class="buy-first">
                            BUY
                        </a>
                        <div class="first-plan-title">
                            Welcome to<br />
                            <span class="dating">DatingLatinos.com</span> We have a special welcome kit waiting for you<br /> with a special and unique price.
                        </div>
                    </div>
                    {% else %}
                    <p>Purchase credits and get amazing features.</p>
                    <div class="row showplans">
                        {% for pla in plan %}
                            {% if pla.payextra != None %}
                            <div class="col-xs-1 col-sm-2 col-md-3 plan">
                                <div class="highlightplan">
                                    <p class="quantitycredits">{{pla.paycredits}} Credits</p>
                                    <p class="pricebycredit">${{pla.payunitprice|floatformat:2}} per credit</p>
                                    <p class="price">${{pla.payprice}}</p>
                                    <div class="offer">
                                        <div class="offertext">
                                            <p class="offerlegend">FIRST-TIME</p>
                                            <p class="offerlegend">BUYERS GET</p>
                                            <p class="offercredits">{{pla.payextra}}</p>
                                            <p class="offerlegend"><strong>FREE</strong> CREDITS</p>
                                        </div>
                                    </div>
                                    <a href="https://api.ccbill.com/wap-frontflex/flexforms/35827639-d1c7-4c6e-b637-b5fc753e351c?clientSubacc=0000&currencyCode=840&language=English&subscriptionTypeId={{pla.paycodeccbill}}&id={{id}}&pp={{pla.paycode}}" class="buy">
                                            BUY
                                        </a>
                                    <div class="paymentverified">
                                        <div class="textpayment">
                                            All payments are verified by
                                        </div>
                                        <div class="paymentimg">
                                            <img class="ccbill_logo" src="{% static 'dateSite/img/logo_ccbill.png' %}" alt="Payments verified by CCBill" title="Payments verified by CCBill" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% else %}
                            <div class="col-xs-1 col-sm-2 col-md-3 plan">
                                <div class="currentplan">
                                    <p class="quantitycredits">{{pla.paycredits}} Credits</p>
                                    <p class="pricebycredit">${{pla.payunitprice|floatformat:2}} per credit</p>
                                    <p class="price">${{pla.payprice}}</p>
                                    <div class="buyimg">
                                        <img src="{% static 'dateSite/img/buy.png' %}" alt="Buy Credits" title="Buy Credits" />
                                    </div>
                                    <a href="https://api.ccbill.com/wap-frontflex/flexforms/35827639-d1c7-4c6e-b637-b5fc753e351c?clientSubacc=0000&currencyCode=840&language=English&subscriptionTypeId={{pla.paycodeccbill}}&id={{id}}&pp={{pla.paycode}}" class="buy">
                                            BUY
                                        </a>
                                    <div class="paymentverified">
                                        <div class="textpayment">
                                            All payments are verified by
                                        </div>
                                        <div class="paymentimg">
                                            <img class="ccbill_logo" src="{% static 'dateSite/img/logo_ccbill.png' %}" alt="Payments verified by CCBill" title="Payments verified by CCBill" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
        {% endif %}
        <div class="subpage">
            <section class="container-home row">
                {% block contentinit %}
                {% endblock %}
                <div class="container membersContainer row" id="membersContainer">
                    {% block content %}
                    {% endblock %}
                </div>
                {% block contentend %}
                {% endblock %}
                {% if is_client %}
                    <input id="sender" type="hidden" value="{{ client.clicode }}" />
                    <input id="reciever" type="hidden" value="" />
                    <div id="chatContainer" class="chatContainer hidden-sm-down">
                    {% include 'dateSite/chat_list.html' %}
                    </div>
                {% endif %}
            </section>
        </div>
        <div id="verifiedModal" class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            {% include "account/email_confirmation_modal.html" %}
        </div>
        <input type="hidden" value="{% static '' %}" id="s3" name="s3" />
        <input type="hidden" value="{{ MEDIA_URL }}" id="s3_root" name="s3_root" />
        <input type="hidden" value="{{ is_client }}" id="is_client" name="is_client" />
        <input type="hidden" value="{{ feel }}" id="feel" name="feel" />
        <input type="hidden" value="{{ verified }}" id="verified" name="verified" />
        <script type="text/javascript" src="{% static 'dateSite/js/init.js' %}"></script>
        {% block javascript %}
        {% endblock %}
    </body>
</html>
