{% load static from staticfiles %}
{% load extra_filters %}

<ul class="client-list">
    {% for member in members.0 %}
    <li id="member_{{member.clicode}}" name="list-members" data-username="{{member.cliusername}}">
        {% if member.profile_picture %}
        <img src="{{ member.profile_picture }}" alt="{{ member.cliusername }}" title="{{ member.cliusername }}" />
        {% else %}
        <img src="{% static 'dateSite/img/default_profile.png' %}" alt="{{ member.cliusername }}" title="{{ member.cliusername }}" />
        {% endif %}
        {% if member.cliverified %}
        <div class="user-verified">
            <img src="{% static 'dateSite/img/user-verified.png' %}" title="Verified member" data-toggle="tooltip" />
        </div>
        {% endif %}
        <div class="profile-info">
            <div class="summary">
                <div class="username">
                    {% if member.age != 0 %}
                        {% if member.cliusername|length < 12 %}
                        @{{ member.cliusername }}, {{ member.age }}
                        {% else %}
                        @{{ member.cliusername|truncatechars:16 }}...
                        {% endif %}
                    {% else %}
                        @{{ member.cliusername }}
                    {% endif %}
                </div>
                <div class="city">
                    {% if member.citcode %}{{ member.citcode|truncatechars:18 }}{% endif %}
                </div>
                <div class="btn-chat">CHAT NOW</div>
            </div>
            <div class="feeling">
                {% if member.feecode %}
                <img src="{% static '' %}dateSite/img/icons/{{ member.feecode.feeiconfile }}" alt="{{ member.feecode.feedescription }}" />
                {% endif %}
            </div>
        </div>
    </li>
    {% empty %}
    <li class="noresults">
        <p class="noresulttitle">NOT RESULTS FOUND</p>
        <p class="noresultmsg">Sorry we dont have any matches to show. Please open the value of the search filters.</p>
    </li>
    {% endfor %}
</ul>
