{% extends './client_base.html' %}
{% load static from staticfiles %}
{% load extra_filters %}
{% load sass_tags %}
{% load crispy_forms_tags %}

{% block linkcss %}
<link rel="stylesheet" type="text/css" href="{% sass_src 'dateSite/css/approval.scss' %}">
{% endblock %}

{% block content %}
<div class="approval row">
    <div class="col-xs-12 app-msg">Payment Unsuccessful</div>
    <div class="col-xs-12 containerbutton"><span id="retry_pay" class="app-button">RETRY PAYMENT</span></div>
    <div class="col-xs-12 app-content">You tryed to buy {{ denied.credits }} credits for USD{{denied.price}}, but it isn't possible because {{denied.reason}}</div>
</div>
{% endblock %}

{% block javascript %}
{% endblock %}
