{% extends "./public_base.html" %}
{% load i18n %}
{% load static from staticfiles %}

{% block head_title %}{% trans "About Us" %}{% endblock %}

{% block content %}
<div class="container-fluid subpage">
    <div class="container">
        <div class="row">
            <h1>Frequently Asked Questions</h1>
        </div>
        <div class="row">
            <h4>SHOULD I SIG IN? HOW LONG IS THIS GOING TO TAKE?</h4>
            <p>
                If you’re looking for a long-term relationship, you probably
                should create an account
            </p>
            <p>
                Even if you do immediately find the person of your dreams, it’ll
                take a few months of dating before you know whether you’re
                officially out of the dating pool.
            </p>
            <p>
                That said, if you know exactly what you’re looking for and you
                have a strategy, it may only take a few weeks. Once I had my
                own strategy in place, the next date I went on turned out to be
                my last one ever.
            </p>
            <p>
                WILL ANYONE ACTUALLY READ MY PROFILE, OR ARE THEY JUST LOOKING
                AT MY PHOTOS? In part because of how dating sites are designed,
                most of us see photos first, and that’s when we determine
                whether to read through the rest of a profile. It has to do
                more with neuroscience than superficiality.
            </p>
            <p>
                We’re drawn to photos over text, because we can process that
                visual information and make inferences more quickly.
            </p>
            <p>
                Are they half-hearted selfies? Or do you look absolutely
                stunning – showing a little skin, wearing fresh makeup, looking
                happy?
            </p>
        </div>
        <div class="row">
            <h4>I DON’T WANT ANYONE TO KNOW WHO I AM IN REAL LIFE. WHAT HAPPENS
                IF I DECIDE NOT TO INCLUDE A PHOTO?</h4>
            <p>
                Nothing happens, you can still searching through profiles and
                making your choices of match, but the possibilities of not being
                selected increase. Chances are extremely good that few people
                will click through your profile. If they do send you a message,
                a photo is likely to be the first thing they ask for.
            </p>
        </div>
        <div class="row">
            <h4> I LIVE IN A VERY SMALL TOWN WITH SLIM PICKINGS. WILL ONLINE
                DATING HELP ME?</h4>
            <p>
                If you’re willing to expand your reach to the maximum number of
                miles allowed, or if you’re able to drive to the next town over,
                then yes. But you need to be explicit and honest about where
                you live early on – and you need to be willing to put in the
                effort to drive out to see the people you’re meeting.
            </p>
        </div>
        <div class="row">
            <h4>I LIVE IN A MASSIVE CITY WITH MILLIONS OF POSSIBILITIES – WHY
                CAN’T I FIND ANYONE GOOD ONLINE?</h4>
            <p>
                Enough to create a curiosity gap.
            </p>
            <p>
                Use the same approach when writing your profile.
            </p>
            <p>
                Create a sense of mystery and excitement and give people a
                concrete reason to contact you.
            </p>
        </div>
        <div class="row">
            <h4>WHY ISN’T ANYONE CONTACTING ME? WHAT DID I DO WRONG?</h4>
            <p>
                There are many variables, so try to evaluate each one. Are you
                using the best possible photos? Did you write an extremely long
                profile? Or one that’s too short? Did you try to use sarcasm?
                Maybe it’s coming across as bitter rather than funny.
            </p>
            <p>
                It’s entirely possible, though, that you’ve done nothing wrong
                at all and that you have a very good profile. Going in to
                refresh your profile once a day could potentially help,
                 depending on the dating site you’re using. Some reward more
                 active users with better placement (especially if they filter
                 by last log in or update).
            </p>
        </div>
    </div>
</div>
</section>
{% endblock %}
