{% load static from staticfiles %}
<html>
<body style="text-align: left; height:100%; font-family:verdana; line-height: 2em; padding: 15px; color: #000 !important;">
    <br />
    <img src="https://datinglatinoss3.s3.amazonaws.com/static/dateSite/img/logo.png" style="width:35%; margin:10px 0 15px 25px"/>
    <h3>message from {{ name }} &lt;{{ email }}&gt; </h3>
    <p style="font-size: 14px;">{{ message }}</p>
    <div style="font-size: 11px; line-height: 1rem;">
        Message sent from contact form
    </div>
</body>
</html>
