{% extends "dateSite/public_base.html" %}
{% load i18n %}
{% load account %}
{% load crispy_forms_tags %}
{% load static from staticfiles %}
{% load sass_tags %}

{% block linkcss %}
<link rel="stylesheet" type="text/css" href="{% sass_src 'dateSite/css/signup.scss' %}">
{% endblock %}

{% block head_title %}{% trans "Sign up" %}{% endblock %}

{% block content %}
<div class="container-fluid subpage">
    <div class="container">
        <div class="row">
            <h1>{% trans "Sign Up" %}</h1>
        </div>
        <div class="row">
            <p>{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">log in</a>.{% endblocktrans %}</p>
        </div>
        <div class="row">
            <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
                {% csrf_token %}
                {% crispy signup_form %}
                {% crispy goodluck_form %}
                {% if redirect_field_value %}
                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                {% endif %}
                <input type="submit" class="btn-primary btn-sm" value="Sign up" />
            </form>
        </div>
    </div>
</div>
{% endblock %}
