option_settings:
  "aws:elasticbeanstalk:application:environment":
    "DJANGO_SETTINGS_MODULE": "dating.settings"
    "PYTHONPATH": "/opt/python/current/app/dating:$PYTHONPATH"
    "DB_NAME": "livedating"
    "DB_USER": "datinglatinos"
    "DB_PASS": "yutvgZQjk75364"
    "DB_HOST": "livepostgresql.crw30baxqe65.us-east-1.rds.amazonaws.com"
    "REDIS_HOST": "liveredis.4ug2kh.0001.use1.cache.amazonaws.com"
    "SECRET_KEY": "XST32636732TPO4X95i9XH78"
    "BUCKET_NAME": "datinglatinoss3"
    "SES_ACCESS_KEY_ID": "AKIAIGYKIBHKQT27J7XQ"
    "SES_SECRET_ACCESS_KEY": "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"
    "AWS_ACCESS_KEY_ID": "AKIAJVBGBMMWMY3ZPJYQ"
    "AWS_SECRET_ACCESS_KEY": "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"
  "aws:elasticbeanstalk:container:python":
    WSGIPath: dating/wsgi.py
    NumProcesses: 3
    NumThreads: 20
  "aws:elasticbeanstalk:container:python:staticfiles":
    "/static/": "https://s3.amazonaws.com/datinglatinoss3/static/"
