@import "_definitions.scss";

.asteriskField {
    display: none;
}

.btn-menu {
    background-color: $primary-color !important;
    width: 45px;
    height: 45px;

    img {
        width: 100%;
    }
}

.buyCredits {
    .first-plan{
        background-image: url(../img/promo.png);
        background-repeat: no-repeat;
        background-position: top left;
        height: 450px;
        width: 100%;
        background-size: contain;
        position: relative;
        .first-plan-title{
            position: absolute;
            top: 55%;
            right: 0px;
            width: 55%;
            height: auto;
            overflow: hidden;
            margin-right: 2%;
            font-family: Arial;
            color: black;
            font-size: 0.9rem;
            text-align: center;
            font-weight: bold;
            .dating{
                color: red;
                font-size: 1.2rem;
                display: block;
                padding: 5px 0px;
            }
        }
        .buy-first{
            position: absolute;
            right: 0px;
            top: 85%;
            width: 20%;
            margin-right: 17%;
            display: inline-block;
            background-color: #53E41B;
            color: white;
            text-align: center;
            padding: 5px 0px;
            font-size: 1.1rem;
        }
    }

    .showplans {
        margin: 0;
        padding: 0;
    }

    .plan {
        padding: 5px;
        box-sizing: border-box;

        .currentplan {
            background-color: #427BFC;
            color: white;

            .quantitycredits {
                text-align: center;
                margin: 0;
                padding: 0;
                font-size: 1rem;
                font-weight: bold;
            }

            .pricebycredit {
                text-align: center;
                margin: 0;
                padding: 0;
                font-size: 0.7rem;
                line-height: 0.7rem;
                font-weight: bold;
            }

            .price {
                text-align: center;
                margin: 15px 0 30px;
                padding: 0;
                font-size: 1.3rem;
                font-weight: bold;
            }

            .buyimg {
                width: 100%;
                padding: 0 13%;
                box-sizing: border-box;

                img {
                    width: 80%;
                    margin: 0 10%;
                }
            }

            .buy {
                margin: 30px 10% 0;
                background-color: #FFDF01;
                width: 80%;
                font-size: 1.2rem;
                font-weight: bold;
                color: black;
                border: 0;
                text-align: center;
                display: block;
            }

            .buy:hover {
                text-decoration: none;
            }

            .paymentverified {
                display: flex;
                flex-direction: row;
                flex-wrap: nowrap;
                justify-content: center;
                align-items: center;

                .textpayment {
                    font-size: 0.5rem;
                    line-height: 0.6rem;
                    margin: 20px 0 0;
                    width: 80%;
                    box-sizing: border-box;
                    padding: 5px;
                    display: inline-block;
                    align-self: center;
                }

                .paymentimg {
                    width: 20%;
                    display: inline-block;

                    .ccbill_logo {
                        width: 30px;
                    }
                }
            }
        }

        .highlightplan {
            background-color: #32CF36;
            color: white;

            .quantitycredits {
                text-align: center;
                margin: 0;
                padding: 0;
                font-size: 1rem;
                font-weight: bold;
            }

            .pricebycredit {
                text-align: center;
                margin: 0;
                padding: 0;
                font-size: 0.7rem;
                line-height: 0.7rem;
                font-weight: bold;
            }

            .price {
                text-align: center;
                margin: 15px 0 30px;
                padding: 0;
                font-size: 1.3rem;
                font-weight: bold;
            }

            .offer {
                background: #427BFC;
                color: white;
                width: 110px;
                height: 110px;
                position: relative;
                text-align: center;
                margin: 0 auto;
            }

            .offer:after,
            .offer:before {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                height: 110px;
                width: 110px;
                background: #427BFC;
            }

            .offer:before {
                -webkit-transform: rotate(30deg);
                -moz-transform: rotate(30deg);
                -ms-transform: rotate(30deg);
                -o-transform: rotate(30deg);
            }

            .offer:after {
                -webkit-transform: rotate(60deg);
                -moz-transform: rotate(60deg);
                -ms-transform: rotate(60deg);
                -o-transform: rotate(60deg);
            }

            .offertext {
                position: absolute;
                top: 4px;
                left: 4px;
                color: black;
                z-index: 8000;
                -webkit-transform: rotate(-30deg);
                -moz-transform: rotate(-30deg);
                -ms-transform: rotate(-30deg);
                -o-transform: rotate(-30deg);

                p.offerlegend {
                    color: white;
                    font-size: 0.7rem;
                    line-height: 0.6rem;
                    margin: 0 0 6px;
                }

                p.offercredits {
                    color: white;
                    font-size: 2rem;
                    font-weight: bold;
                    line-height: 2rem;
                    margin: 5px 0;
                }
            }

            .buy {
                margin: 30px 10% 0;
                background-color: yellow;
                width: 80%;
                font-size: 1.2rem;
                font-weight: bold;
                color: black;
                border: 0;
                text-align: center;
                display: block;
            }

            .buy:hover {
                text-decoration: none;
            }

            .paymentverified {
                display: flex;
                flex-direction: row;
                flex-wrap: nowrap;
                justify-content: center;
                align-items: center;

                .textpayment {
                    font-size: 0.5rem;
                    line-height: 0.6rem;
                    margin: 20px 0 0;
                    width: 80%;
                    box-sizing: border-box;
                    padding: 5px;
                    display: inline-block;
                    align-self: center;
                }

                .paymentimg {
                    width: 20%;
                    display: inline-block;

                    .ccbill_logo {
                        width: 30px;
                    }
                }
            }
        }
    }
}
@include media-breakpoint-up(xs) {
    /*------ navbar menu forms ---------*/
    .button-menu {
        display: block;
        width: 100%;
        height: 45px;
        margin-bottom: 5px;
    }

    #menu-items {
        line-height: 2em;
        z-index: 1;
        position: relative;
        padding-bottom: 2px;
        text-align: right;

        .btn-group,
        .btn-group-vertical {
            width: 100%;
            margin: 10px 5px;
        }

        .btn-group > .btn:first-child {
            background-color: transparent;
            padding: 0;
        }

        .dropdown-menu {
            border: none;
            width: 100%;
        }

        .dropdown-toggle {
            background-color: transparent;
        }

        .dropdown-toggle::after {
            display: none !important;
        }

        .icon {
            width: 35%;
            min-width: 15px;
            max-height: 50px;
            cursor: pointer;
        }

        .vr {
            width: 95%;
            background-color: $primary-color;
            height: 3px;
            vertical-align: middle;
        }

        .title {
            color: #9a9898;
            display: inline-block;
            display: -webkit-inline-box;
            vertical-align: middle;
            vertical-align: -webkit-baseline-middle;
            font-size: 1em;
            font-weight: bold;
        }

        .small-icon {
            width: 15px;
            height: 15px;
            vertical-align: middle;
        }

        .button-icon {
            vertical-align: middle;
            font-size: 1rem;
            border-radius: 0.25rem;
            font-weight: bold;
            vertical-align: -webkit-baseline-middle;
            color: #747474;
            margin: 0 15px;
            float: left;

            span {
                vertical-align: -webkit-baseline-middle;
            }

            .img-icon {
                border: 1px solid #f1f0f0;
                border-radius: 50%;
                padding: 2px;
                margin: 0 6px;
                width: 35px;
                height: 35px;
                background-color: #d7d3d3;
                overflow: hidden;
                display: inline-block;
                float: left;
            }

            .profile-picture {
                padding: 0;
            }

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        .modal:before {
            content: none;
        }

        .modal-dialog {
            width: 100%;
            height: auto;
            margin: 0;
            padding: 0;

            .modal-content {
                .modal-header {
                    background-color: transparent;
                    color: white;
                    padding-bottom: 10px;

                    .close {
                        margin-top: -10px;
                    }
                }
            }
        }

        .modal-content {
            height: auto;
            min-height: calc(100% - 80px);
            border-radius: 0;
            margin: 80px 5px 0;
            background-color: #ffffff;
            color: #7b7b7b;
            border-radius: 5px;
            text-align: center;
            text-align: -webkit-center;
        }

        .modal-body {
            padding: 5px 0;
        }
    }

    .alertbutton {
        position: relative;
        display: inline-block;

        .alertsquantity {
            position: absolute;
            bottom: -2px;
            left: 25px;
            background-color: red;
            color: white;
            padding: 2px;
            font-size: 10px;
            border: 1px solid red;
            border-radius: 50%;
            width: 20px;
        }
    }

    .search {
        color: $font-secondary-color;
        background-color: rgba(255, 255, 255, 0.9);
        text-transform: uppercase;
        font-weight: bold;
        border-radius: 5px;
        text-align: center;
        box-shadow: 2px 4px 5px #808080;

        .search-header {
            margin: 0;
            align-items: center;

            .icon {
                width: 10%;
            }
        }

        .advanced-search {
            display: none;
        }

        a {
            text-decoration: none;
            color: #8d26db;
        }

        p {
            border-bottom: 3px solid;
            margin-bottom: 0;
        }

        label {
            font-size: 0.8em;
            color: #9a9898;
            vertical-align: middle;
        }

        input[type="checkbox"] {
            vertical-align: middle;
        }

        select {
            min-width: 50px;
            font-weight: normal;
            font-size: 0.6em;
            max-width: 160px;
        }

        .text-description {
            text-align: center;
            border-bottom: 3px solid;
            font-size: 0.8em;
        }

        .control-label {
            display: inline-block;
        }

        .simple-search {
            text-align: center;
            line-height: 1em;
            margin-bottom: 10px;

            br {
                display: block;
            }

            .control-group {
                margin: 5px 10px;
                display: inline-block;
            }
        }

        .search-options {
            width: 100%;
            display: inline-block;

            select {
                width: 100%;
            }

            .control-group {
                display: block;
            }

            .half {
                margin: -3px auto 0;
                width: 49%;

                .control-group {
                    display: inline-block;
                    max-width: 49%;
                }
            }
        }

        .search-check {
            text-align: -webkit-center;

            .control-group {
                margin: 0 5px;
                display: inline-block;
                font-size: 0.8rem;
            }
        }

        input[type="submit"] {
            margin: 5px auto;
            padding: 5px 30px;
            text-transform: uppercase;
            border-radius: 5px;
            font-weight: bold;
            font-size: medium;
        }

        .search-error {
            font-size: 14px;
            color: $font-third-color;
            text-transform: capitalize;
        }
    }

    .alerts {
        text-align: center;
        padding: 10px 0;
        box-shadow: 2px 4px 5px #808080;

        .alert-header {
            margin: 5px auto 0;
            align-items: center;

            .icon {
                width: 10%;
            }
        }

        .alert-pic-preview {
            overflow: hidden;
        }

        .notification {
            padding: 5px;
            text-align: center;
            box-sizing: border-box;
            border-bottom: 1px solid gray;
            margin: 0 5px;

            .description {
                text-align: left;
            }

            .date {
                display: block;
                text-align: right;
                color: #818a91;
                font-size: 0.7em;
                margin: 0 5px;
                line-height: 0.5rem;
            }

            img {
                width: 70%;
                border-radius: 5px;
                margin: 0 5px;
            }
        }

        .see-all {
            font-size: medium;

            a:hover {
                color: #0275d8;
            }
        }
    }

    .feelings {
        text-align: center;
        font-weight: bold;
        line-height: 2em;
        box-shadow: 2px 4px 5px #808080;

        button {
            background-color: transparent;
            border: none;
            padding: 10px;
            font-size: 0.5em;
            margin: 0 5px 0 0;

            img {
                display: flex;
                display: block;
                max-width: 100%;
                margin: 0 auto;
            }
        }

        .feel-header {
            padding: 10px;
            align-items: center;

            .icon {
                width: 10%;
            }
        }

        .row {
            margin: 0 auto;
            overflow: hidden;
        }
    }

    .profile-menu {
        width: 100%;
        height: calc(100% - 301px);
        box-shadow: 2px 4px 5px #808080;

        .profile-header {
            margin: 5px auto;
            display: flex;
            align-items: center;
            width: 100%;
            padding: 15px 10px 5px;

            a{
                margin: 0;
                width: 30px;
                height: 20px;

                img{
                    width: 100%;
                    object-fit: contain;
                    vertical-align: super;
                }
            }

            .title {
                margin: 0 10px 0 5px;
                align-self: center;
            }
        }

        .profile-area {
            padding: 5px 10px;

            .profile-pic-container {
                width: 125px;
                height: 125px;
                margin: 0 0 0 10px;
                border-radius: 50%;
                vertical-align: middle;
                overflow: hidden;
                position: relative;
                display: inline-block;

                .img-thumb {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }

                .edit {
                    background-color: rgba(0, 0, 0, 0.6);
                    width: 100%;
                    position: absolute;
                    bottom: 0;
                    padding: 0;
                    letter-spacing: 1px;
                    cursor: pointer;
                    background-image: url('../img/change-text.png');
                    background-repeat: no-repeat;
                    background-size: 55%;
                    background-position: center;

                    label {
                        display: none;
                    }

                    .file-uploader {
                        text-indent: 100%;
                        overflow: hidden;
                        height: 35px;
                        width: 100%;

                        .qq-uploader {
                            .qq-upload-button {
                                z-index: 100;
                                overflow: visible !important;
                                background: none;

                                .btn-primary {
                                    border: none;
                                    background: none;
                                    width: 100%;
                                    // Hide text
                                    text-indent: 100%;
                                    white-space: nowrap;
                                    overflow: hidden;
                                }

                                input {
                                    width: 100%;
                                }
                            }
                        }
                    }
                }

                .save-img {
                    display: none;
                    background-color: rgba(0, 0, 0, 0.6);
                    width: 100%;
                    position: absolute;
                    bottom: 0;
                    padding: 0;
                    letter-spacing: 1px;
                    cursor: pointer;
                    background-image: url('../img/save-text.png');
                    background-repeat: no-repeat;
                    background-size: 55%;
                    background-position: center;
                    height: 35px;
                }
            }

            .basic-info {
                margin: 0;
                width: calc(100% - 190px);
                box-sizing: border-box;
                display: inline-block;
                padding: 0 0 0 10px;
                font-size: 8px;
                line-height: 1.5em;
                vertical-align: middle;

                label {
                    font-size: 0.7rem;
                    display: block;
                    width: 100%;
                    margin: 0;
                    line-height: 1.3rem;
                }

                label.center{
                    display: inline-block;
                    text-align: center;
                    font-size: 0.8rem;
                }
            }

            .not-verified{
                width: calc(100% - 145px);
                text-align: center;
                font-size: 0.9rem;
            }

            a.edit {
                display: inline-block;
                margin: 0;

                img.edit-icon {
                    width: 30px;
                    height: 30px;
                    margin: 0 auto;
                    display: inline-block;
                    vertical-align: middle;
                }
            }
        }

        .text {
            display: block;
            color: gray;
            text-transform: uppercase;
            font-weight: bold;
            padding: 0 0 5px;
            margin: 0;
            font-size: 0.6rem;
            line-height: 0.8rem;
        }

        a {
            margin: 1.5em 0;
        }

        a:hover {
            text-decoration: none;
        }

        .action-area {
            font-size: 0.8em;
            background-color: #f5f5f5;
            text-align: center;

            .option-icon {
                width: 49.5%;
                padding: 10px 15px;
                -webkit-box-shadow: 0 0 2px 0 rgba(0,0,0,0.29);
                -moz-box-shadow: 0 0 2px 0 rgba(0,0,0,0.29);
                box-shadow: 0 0 2px 0 rgba(0,0,0,0.29);
                display: inline-block;
                margin: 0;
                box-sizing: border-box;
                position: relative;

                .buy-credits {
                    -webkit-box-shadow: none;
                    -moz-box-shadow: none;
                    box-shadow: none;
                    width: 100%;
                    padding: 0;
                    box-sizing: border-box;
                    margin: 0;
                }
            }

            .alert-count {
                color: white;
                background-color: $primary-color;
                border-radius: 12%;
                padding: 0 5px;
                font-size: 0.5rem;
                position: absolute;
                bottom: 35px;
                right: 50px;
                text-align: center;
                line-height: 1rem;
            }

            a {
                margin: 0;
                padding: 0;
                overflow: hidden;
                box-sizing: border-box;
                width: 100%;
            }
        }

        .logout-area {
            text-align: center;
            padding: 5px 0 10px;
            border-top: 1px solid #e8e4e4;
            margin-top: -1px;
            background-color: white;

            a {
                text-decoration: none;
            }

            button {
                padding: 5px 20px;
                border-radius: 5px;
                background-color: transparent;
                border-color: #999999;
                color: #777;
                font-weight: bold;
                font-size: small;
            }

            button:hover {
                background-color: $secondary-color;
                color: #333;
                border-color: #333;
            }
        }
    }
}
@include media-breakpoint-up(sm) {
    html {
        font-size: 18px;
    }
}
@include media-breakpoint-up(md) {
    html {
        font-size: 20px;
    }

    .button-menu {
        height: 0;
    }

    #menu-items {
        .btn-group,
        .btn-group-vertical {
            width: auto;
            margin: 0 15px;
        }
    }

    .bubble {
        position: relative;
        padding: 0 0 5px;
        background-color: #FEFEFE;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        box-shadow: 0 0 6px #B2B2B2;
        height: auto;
        min-width: 350px;
        line-height: 2em;
    }

    .bubble-alerts,
    .bubble-feeling,
    .bubble-profile,
    .bubble-search {
        @extend .bubble;
    }

    .bubble:after {
        background-color: #FEFEFE;
        box-shadow: -2px 2px 2px 0 rgba(178, 178, 178, 0.4);
        content: "\00a0";
        display: block;
        position: absolute;
        top: -6px;
        transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        -webkit-transform: rotate(135deg);
        width: 15px;
        height: 15px;
        z-index: 1;
    }

    .bubble-search:after {
        right: 365px;
    }

    .bubble-feeling:after {
        right: 304px;
    }

    .bubble-alerts:after {
        right: 30px;
    }

    .bubble-profile:after {
        right: 20px;
    }

    #menu-items {
        div.col-md-3 {
            line-height: 2em;
            text-align: right;
        }

        .dropdown-menu {
            width: auto;
            padding: 0;
        }

        .button-icon {
            clear: both;
            font-size: 0.9rem;
            float: none;
            margin: 0;

            span {
                vertical-align: middle;
            }

            .img-icon {
                float: none;
                vertical-align: middle;
            }
        }

        .title {
            font-size: 0.9em;
            text-transform: capitalize;
        }

        .alertbutton {
            .alertsquantity {
                right: -8px;
                left: inherit;
            }
        }

        .search {
            width: 460px;
            padding-bottom: 15px;

            .search-header {
                .icon {
                    width: 10%;
                }
            }

            .search-check {
                padding: 5px 0 0;
            }

            select {
                width: auto;
                max-width: 200px;
            }

            .search-options {
                width: 32%;
                display: inline-block;

                select {
                    width: 100%;
                }

                .control-group {
                    display: block;
                }

                .half {
                    margin: -3px auto 0;
                    display: inline-block;
                    width: 100%;

                    .control-group {
                        display: inline-block;
                        max-width: 46%;

                        .controls {
                            select {
                                max-width: 100%;
                            }
                        }
                    }
                }
            }

            .search-check {
                text-align: -webkit-center;

                .control-group {
                    margin: 0 15px;
                    display: inline-block;
                    font-size: 0.7em;
                }
            }
        }

        .feelings {
            width: 400px;

            .feel-header {
                .icon {
                    width: 10%;
                }
            }
        }

        .alerts {
            .alert-header {
                .icon {
                    width: 10%;
                }
            }

            .description {
                font-size: 0.7rem;
            }

            .see-all {
                margin: -0.6em 0;
            }
        }

        .profile-menu {
            .profile-header {
                .icon {
                    width: 10%;
                }
            }

            .profile-area {
                .edit {
                    height: auto;
                    right: 0;
                }
            }

            .action-area {
                font-size: 0.5em;
                background-color: #f5f5f5;
            }
        }
    }
}
@include media-breakpoint-up(lg) {
    html {
        font-size: 22px;
    }

    #menu-items {
        .button-icon {
            vertical-align: middle;
        }
    }
}
@include media-breakpoint-up(xl) {
    html {
        font-size: 24px;
    }

    .bubble-search:after {
        right: 350px;
    }

    .bubble-feeling:after {
        right: 300px;
    }

    .bubble-alerts:after {}

    .bubble-profile:after {}

    #menu-items {
        .title {
            font-size: 0.6rem;
        }

        .alerts {
            .description {
                font-size: 0.5rem;
            }
        }
    }
}

#messageModal {
    .modal-header {
        padding: 6px 10px;
        border-bottom: none;
    }

    .modal-footer {
        border: none;
    }
}
