.top-right {
    text-align: right;
    padding: 5px 0;
}

.user_auth {
    display: -webkit-inline-box;
}

.navbar {
    background-color: transparent;
    box-shadow: 0 0 11px #a19f9f;
    border-radius: 0;
    width: 100%;
    padding: 1rem;
    height: 70px;

    .navbar-brand {
        background: url(../img/logo.png) no-repeat top left;
        background-size: 17rem 3.5rem;
        height: 3.5rem;
        padding: 0 0 0 18rem;
        box-sizing: border-box;
        margin-left: -15px;
    }
}

.container {
    width: 100%;
    height: calc(100vh - 90px);

    .center {
        position: relative;
        top: 30%;
        transform: translateY(-30%);

        button,
        form,
        h2 {
            text-align: center;
        }
    }
}

.form-container{
    width: 400px;
    background-color: #fafafa;
    padding: 2rem 3rem;
    margin: 15px auto;
    border-radius: 15px;
    box-shadow: 0 0 5px #dfdfdf;
    padding: 1rem 3rem 1.5rem;

    hr {
        height: 10px;
    	border: 0;
    	box-shadow: 0 10px 10px -10px #c6c6c6 inset;
        margin: 0 0 20px;
    }
}

.login-form {
    margin: 0 auto;
    text-align: -webkit-center;

    .forgot{
        margin: 10px auto;
    }
}

.btn-primary {
    background-color: #f9000a;
    border-color: #f9000a;
    font-weight: bold;
    font-size: 18px;
    margin: 10px auto;
    display: block;
}

.alert {
    padding: 0;
    margin-bottom: 0;
    font-style: italic;

    ul{
        padding: 0;
        li{
            list-style: none;
            margin: 0px auto 10px;
        }
    }
}
