{% load i18n %}
{% load static from staticfiles %}

<html>
<body style="text-align: center; height:100%; background-color:#e8e6e6; font-family:verdana; line-height: 2em; padding: 15px;">
    <br />
    <br />
    <img src="https://s3.amazonaws.com/datinglatinoss3/static/dateSite/img/logo.png" style="width:80%; margin:0 auto;"/>
    <br />
    {% blocktrans with site_name=current_site.name site_domain=current_site.domain %}Thank you for using {{ site_name }}!
    <p>
    You're receiving this e-mail because you or someone else has requested a password for your user account at {{ site_domain }}.
    It can be safely ignored if you did not request a password reset. Click the link below to reset your password.{% endblocktrans %}
    </p>
    <br />
    <p>{{ password_reset_url }}</p>
    <br />
    <br />
    {% if username %}
        <p>
            {% blocktrans %}
                In case you forgot, your username is {{ username }}.
            {% endblocktrans %}
        </p>
    {% endif %}
    <br />
    <br />
    <div style="font-size: 10px;">
        {% blocktrans with site_name=current_site.name site_domain=current_site.domain %}
        Please ignore this message if you have not registered on our site or if you have already confirmed your email. You have chosen to receive this newsletter when you registred on {{ site_domain }}
        {% endblocktrans %}
    </div>
    <br />
</body>
</html>
